<!DOCTYPE html>
<html>
     <head>
          <title>AID Search!</title>
          <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
     </head>
     <body>
          <h2>AID <span class="Searchy">Search!</span></h2>
          <ul>
               <div class="searchbar">
                    <input type="text" name='q' id="searchBox" placeholder="Masukkan Query">
                    <input type="submit" name = "searchButton" value="Search">
               </div>
               <div class = "uploadButton">
                    <A HREF="http://127.0.0.1:5000/Upload"><input type="submit" name = "uploadButton" value="Upload Files"></A> <!--nanti bakal ke page buat upload, tinggal ganti alamatnya-->
               </div>
          </ul>
     </body>
</html>