<!DOCTYPE html>
<html>
     <head>
          <title>AID Search!</title>
          <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
     </head>
     <body>
          <a style="text-decoration: none" href="./"><h2>AID <span class="Searchy">Search!</span></h2></a>
          <ul>
               <form action="http://127.0.0.1:5000/Search" method=POST>
                    <div class="searchbar">
                        <input type="text" name="searchBox" id="searchBox" placeholder="Masukkan Query">
                        <input type="submit" name = "searchButton" value="Search">
                    </div>
               </form>
               <div class = "uploadButton">
                    <A HREF="http://127.0.0.1:5000/Upload"><input type="submit" name = "uploadButton" value="Upload Files"></A> <!--nanti bakal ke page buat upload, tinggal ganti alamatnya-->
               </div>
          </ul>



          <footer class="perihal">
               <a style="color:black ; text-decoration: none" href="./Perihal">
                    <h3>Perihal AID</h3>
               </a>
          </footer>
     </body>
</html>