<!DOCTYPE html>
<html>
     <head>
          <title>AID Search!</title>
          <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
     </head>
     <body>
          <a style="text-decoration: none" href="./"><h2>AID <span class="Searchy">Search!</span></h2></a>
          <div class="perihal" id="perihal">
               <h2>KONSEP PROGRAM</h2>
               <p>
                    <b>AID Search!</b> adalah website yang dikembangkan oleh kelompok 17
                    sebagai tugas besar mata kuliah Aljabar dan Geometri berupa search engine.
                    Search engine yang kelompok kami buat menggunakan bahasa pemrograman python
                    dan menggunakan flask. Search engine yang kami buat menggunakan rumus cosine
                    similarity untuk mencari kecocokan antar query dengan dokumen dan menampilkan
                    dokumen yang paling tinggi tingkat kecocokannya dengan query, dan seterusnya
                    berurut semakin rendah similarity nya. Ditampilkan pula tabel term yang akan menampilkan
                    term term yang menentukan similarity sebuah queue dengan dokumen.
               </p>
               <h2>HOW TO USE</h2>
               <p>
                    Cara penggunaan search engine ini cukup mudah. Dengan membuka file mainpage.html dan
                    kemudian tinggal mengetikkan apa yang ingin kita cari sebagai query, maka program akan
                    langsung memberi tahu dokumen apa yang memiliki similarity yang paling tinggi menuju rendah.
                    Pengguna juga dapat mengupload file dengan cara mengeklik tombol 'Upload Files' untuk menambah
                    dokumen.
               </p>
               <h2>ABOUT US</h2>
               <p>
                    Kelompok 17 Tugas Besar Algeo 2: <br>
                    Irvin Andryan Pratomo    / 13519162 <br>
                    Muhammad Dehan Al Kautsar/ 13519200 <br>
                    Muhammad Rifat Abiwardani/ 13519205 <br>
               </p>
          </div>
          <footer class="perihal">
               <a style="color:aliceblue ; text-decoration: none" href="./perihal.html">
                    <h3>Perihal AID</h3>
               </a>
          </footer>
     </body>
</html>